In [2]:
import pysftp
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
#FTP Module
# cnopts = pysftp.CnOpts()
# cnopts.hostkeys = None
# sftp = pysftp.Connection('sftp.talentreef.com', username=hidden, password=hidden, cnopts=cnopts)
# sftp.get('/outbound/pde/TCF_18703/TCF_Terminations/TCF_Terminations20210802-1300-23.csv')
# print("Process Complete")

In [12]:
#Loading Employee Data
employee_data = pd.read_csv(Path("../Resources/Source_data/master.csv"), header = 0, usecols = ["EMP_NO","PAYCODE","PAYRATE"])
hour_data = pd.read_csv(Path("../Resources/Source_data/hours.csv"))

In [27]:
#Calculating Hourly Wages
hourly_emp_data = employee_data.loc[employee_data["PAYCODE"] == "Hourly"]
hourly_grid = pd.merge(hourly_emp_data, hour_data, how = "inner", on = "EMP_NO")
hourly_grid["HOURLY_WAGE"] = np.where(hourly_grid["HOURS"] > 40, 
    ((hourly_grid["HOURS"]-40)*1.5*hourly_grid["PAYRATE"])+ (hourly_grid["PAYRATE"]*40), 
    (hourly_grid["HOURS"] * hourly_grid["PAYRATE"]))
hourly_grid.drop(["PAYCODE","PAYRATE","HOURS"], axis=1)

   EMP_NO  HOURLY_WAGE
0  101001        847.5
1  101003       1400.0
2  101005       1800.0
3  101006       1062.5
4  101007        825.0
5  101009        600.0
6  101010        680.0
7  101011       1400.0

In [11]:
#Calculating Salary Wages

   EMP_NO PAYCODE  PAYRATE  HOURS  HOURLY_WAGE
0  101001  Hourly       15     51       1012.5
1  101003  Hourly       40     35       1400.0
2  101005  Hourly       45     40       1800.0
3  101006  Hourly       17     55       1317.5
4  101007  Hourly       15     50        975.0
5  101009  Hourly       15     40        600.0
6  101010  Hourly       17     40        680.0
7  101011  Hourly       35     40       1400.0