In [33]:
import pysftp
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
#FTP Module
# cnopts = pysftp.CnOpts()
# cnopts.hostkeys = None
# sftp = pysftp.Connection('sftp.talentreef.com', username=hidden, password=hidden, cnopts=cnopts)
# sftp.get('/outbound/pde/TCF_18703/TCF_Terminations/TCF_Terminations20210802-1300-23.csv')
# print("Process Complete")

In [44]:
#Loading Employee Data
employee_data = pd.read_csv(Path("../Resources/Source_data/master.csv"), header = 0, usecols = ["EMP_NO","PAYCODE","PAYRATE"])
hour_data = pd.read_csv(Path("../Resources/Source_data/hours.csv"))

   EMP_NO PAYCODE  PAYRATE  HOURS
0  101001  Hourly       15     51
1  101003  Hourly       40     35
2  101005  Hourly       45     40
3  101006  Hourly       17     55
4  101007  Hourly       15     50
5  101009  Hourly       15     40
6  101010  Hourly       17     40
7  101011  Hourly       35     40

In [45]:
#Calculating Hourly Wages
hourly_emp_data = employee_data.loc[employee_data["PAYCODE"] == "Hourly"]
hourly_grid = pd.merge(hourly_emp_data, hour_data, how = "inner", on = "EMP_NO")
hourly_grid

In [51]:
hourly_grid["HOURLY_WAGE"] = np.where(hourly_grid["HOURS"] > 40,
(40 * hourly_grid["PAYRATE"])  1.5 * hourly_grid["PAYRATE"])), (hourly_grid["PAYRATE"] * hourly_grid["HOURS"])

SyntaxError: unexpected EOF while parsing (<ipython-input-51-fef654c54f54>, line 1)